<!DOCTYPE HTML>
<html>
  <head>
    <title>HPC</title>   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>
  <body>
    <header>
      <img src="{% static "logo_ciemat.gif" %}" alt="CIEMAT logo" height="50" width="50">
      <img src="{% static "logo_uned.png" %}" alt="UNED logo" height="50" width="50">
      <h1>HPC</h1>
      <nav id="id_links">
        <ul>
          <li><a href="/" id="id_home">Home</a></li>
        </ul>
      </nav>
    </header>
    <article>
      <h1>Fill in your data</h1>
      <p>Provide your personal data to request for an user account. Please note that your profile will not be activated until the administrator authorize your request. You will be notified to the email address provided in the form below.<p/>
      <form method="POST" action="/account/create/">
        {% csrf_token %}
        <fieldset>
          <legend>User Info</legend>
          {{ form.as_p }}
        </fieldset>
        <p class="center">
          <input class="submit" type="submit" value="create account" />
        <p>
      </form>
    </article>
  </body>
</html>
