<!DOCTYPE HTML>
<html>
  <head>
    <title>HPC</title>   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>
  <body>
    <header>
      <img src="{% static "logo_ciemat.gif" %}" alt="CIEMAT logo" height="50" width="50">
      <img src="{% static "logo_uned.png" %}" alt="UNED logo" height="50" width="50">
      <h1>HPC</h1>
      <nav id="id_links">
        <ul>
          <li><a href="/" id="id_home">Home</a></li>
        </ul>
      </nav>
    </header>
    <article>
      <h1>Sign in</h1>
      <form method="POST" action="/login/">
        <fieldset>
          <legend>Sign in with your account</legend>
          {{ form.as_p }}
        </fieldset>
        <p class="center">
          <input class="submit" type="submit" value="sign in" />
        </p>
        <p class="center">
          <a href="/account/create">Create an account</a>
        </p>
        {% csrf_token %}
      </form>
    </article>
  </body>
</html>
